@charset "UTF-8";
footer, .certifications__container .animacion__bajar__four, .certifications__container .certifications figure figcaption, .certifications__container .certifications__tittle, .projects__container .animacion__bajar__three, .projects__container .projects__tittle, .contact__container .contact__tittle, .contact__container .contact .info, .skills__container .animacion__bajar__two, .first__section__container .animacion__bajar__one, .nav__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Orbitron", sans-serif;
  color: rgba(0, 0, 0, 0.723);
} /* Menu de navegacion */
.nav__container {
  background: white;
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
}
.nav__container .options {
  display: flex;
  justify-content: end;
}
.nav__container .options div a {
  text-decoration: none;
  padding: 20px;
  align-items: center;
  color: rgba(0, 0, 0, 0.723);
  transition: all 1s;
}
.nav__container .options div a:hover {
  color: rgba(0, 0, 255, 0.586);
  transform: scale(1.1);
}
.nav__container .name {
  padding: 20px;
  margin-left: 40px;
}
.nav__container .name .logo {
  width: 120px;
  height: 80px;
}

/* Acerca de mi */
.first__section__container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.first__section__container .aboutMe {
  display: flex;
  padding: 20px;
  margin: 20px;
}
.first__section__container .aboutMe img {
  display: flex;
  width: 50%;
}
.first__section__container .aboutMe .aboutMecontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.first__section__container .aboutMe .aboutMecontainer h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 16px;
  display: flex;
  width: 80%;
  color: rgba(0, 0, 0, 0.723);
}
.first__section__container .aboutMe .aboutMecontainer button {
  width: 200px;
  padding: 10px;
  border: none;
  text-decoration: none;
  color: white;
  background-color: #1D4ED8;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px gray;
  transition: all 2s;
  font-family: "Orbitron", sans-serif;
}
.first__section__container .aboutMe .aboutMecontainer button:hover {
  transform: scale(1.2);
}
.first__section__container .animacion__bajar__one {
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Mis habilidades */
.skills__container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.skills__container .skills {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin: 20px;
}
.skills__container .skills figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
}
.skills__container .skills figure img {
  width: 100px;
  height: 100px;
}
.skills__container .skills figure figcaption {
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  margin: 10px;
}
.skills__container .skills figure img {
  padding: 10px;
  margin: 20px;
}
.skills__container .skills .html, .skills__container .skills .css, .skills__container .skills .javascript, .skills__container .skills .json {
  transition: all 2s;
  box-shadow: 5px 5px 20px gray;
}
.skills__container .skills .html:hover, .skills__container .skills .css:hover, .skills__container .skills .javascript:hover, .skills__container .skills .json:hover {
  transform: scale(1.2);
}
.skills__container .animacion__bajar__two {
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}
.skills__container .skills__tittle {
  font-size: 30px;
  padding: 20px;
  margin: 20px;
  color: rgba(0, 0, 0, 0.723);
  display: flex;
  justify-content: center;
  font-family: "Orbitron", sans-serif;
}

/* Informacion de contacto */
.contact__container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.contact__container .contact .networks {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}
.contact__container .contact .networks .instagram, .contact__container .contact .networks .linkedin, .contact__container .contact .networks .github {
  transition: all 2s;
  padding: 20px;
  margin: 20px;
}
.contact__container .contact .networks .instagram img, .contact__container .contact .networks .linkedin img, .contact__container .contact .networks .github img {
  filter: drop-shadow(6px 6px 6px grey);
  width: 70px;
  height: 70px;
}
.contact__container .contact .networks .instagram:hover, .contact__container .contact .networks .linkedin:hover, .contact__container .contact .networks .github:hover {
  transform: scale(1.2);
}
.contact__container .contact .info figure {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
.contact__container .contact .info figure figcaption {
  font-family: "Orbitron", sans-serif;
}
.contact__container .contact .info figure img {
  filter: drop-shadow(6px 6px 6px grey);
  transition: all 2s;
  margin: 20px;
  width: 70px;
  height: 70px;
  padding-right: 10px;
}
.contact__container .contact .info figure img:hover {
  transform: scale(1.2);
}
.contact__container .contact__tittle {
  color: rgba(0, 0, 0, 0.723);
  padding: 20px;
  margin: 20px;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
}

/*Mis proyectos*/
.projects__container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.projects__container .projects__tittle {
  font-family: "Orbitron", sans-serif;
  color: rgba(0, 0, 0, 0.723);
  font-size: 30px;
  padding: 20px;
  margin: 20px;
}
.projects__container .carrusel__container {
  display: flex;
  justify-content: center;
}
.projects__container .carrusel__container .carrusel {
  justify-content: center;
  align-items: center;
}
.projects__container .carrusel__container .carrusel h5 {
  color: black;
}
.projects__container .carrusel__container .carrusel p {
  color: black;
}
.projects__container .animacion__bajar__three {
  margin-top: 50px;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Certificaciones */
.certifications__container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.certifications__container .certifications__tittle {
  font-family: "Orbitron", sans-serif;
  color: rgba(0, 0, 0, 0.723);
  font-size: 30px;
  padding: 20px;
  margin: 20px;
}
.certifications__container .certifications {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-items: center;
  align-items: center;
  padding: 20px;
}
.certifications__container .certifications figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.certifications__container .certifications figure img {
  border-radius: 50px;
  width: 500px;
  height: 300px;
}
.certifications__container .certifications figure figcaption {
  font-family: "Orbitron", sans-serif;
  padding: 20px;
}
.certifications__container .certifications figure .certification__button {
  display: flex;
  justify-content: center;
  width: 150px;
  padding: 10px;
  border: none;
  text-decoration: none;
  background-color: #1D4ED8;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px gray;
  transition: all 2s;
  font-family: "Orbitron", sans-serif;
}
.certifications__container .certifications figure .certification__button a {
  text-decoration: none;
  color: white;
}
.certifications__container .certifications figure .certification__button:hover {
  transform: scale(1.1);
}
.certifications__container .animacion__bajar__four {
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Footers */
footer {
  font-family: "Orbitron", sans-serif;
  padding: 10px;
  margin: 10px;
  border-top: 1px solid rgb(215, 215, 215);
}

/*----------------------------RESPONSIVE-------------------------------------------------*/
/* Tablet */
@media only screen and (max-width: 768px) {
  /* Menu de navegacion */
  .nav__container .container-fluid .name {
    margin-left: 0px;
  }
  /* Acerca de mi */
  .first__section__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .first__section__container .aboutMe .aboutMecontainer button {
    margin: 20px;
  }
  .first__section__container .aboutMe img {
    width: 0;
  }
  /* Mis habilidades */
  .skills__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .skills__container .skills {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 250px);
    gap: 20px;
  }
  /* Informacion de contacto */
  .contact__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact__container .contact .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Certificaciones */
  .certifications {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  .certifications figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .certifications figure a img {
    width: 500px;
    height: 300px;
  }
  /* Proyectos */
  .carrusel__main {
    width: 650px;
  }
  .carrusel__main .proyectos {
    width: 650px;
  }
}
footer {
  font-size: 14px;
}

/* Mobile grande*/
@media only screen and (max-width: 576px) {
  /* Menu de navegacion */
  .nav__container .container-fluid .name {
    margin-left: 0px;
  }
  /* Acerca de mi */
  .first__section__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .first__section__container .aboutMe .aboutMecontainer button {
    margin: 20px;
  }
  .first__section__container .aboutMe img {
    width: 0;
  }
  /* Mis habilidades */
  .skills__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .skills__container .skills {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 20px;
  }
  /* Informacion de contacto */
  .contact__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact__container .contact .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Certificaciones */
  .certifications {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  .certifications figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .certifications figure a img {
    width: 400px;
    height: 250px;
  }
  /* Proyectos */
  .carrusel__main {
    width: 450px;
  }
  .carrusel__main .proyectos {
    width: 450px;
  }
}
/* Mobile pequeño*/
@media only screen and (max-width: 420px) {
  /* Menu de navegacion */
  .nav__container .container-fluid .name {
    margin-left: 0px;
  }
  /* Acerca de mi */
  .first__section__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .first__section__container .aboutMe .aboutMecontainer button {
    margin: 20px;
  }
  .first__section__container .aboutMe img {
    width: 0;
  }
  /* Mis habilidades */
  .skills__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .skills__container .skills {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 0.5fr);
    gap: 20px;
  }
  /* Informacion de contacto */
  .contact__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact__container .contact .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  /* Certificaciones */
  .certifications {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  .certifications figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .certifications figure a img {
    width: 300px;
    height: 200px;
  }
  /* Proyectos */
  .carrusel__main {
    width: 350px;
  }
  .carrusel__main .proyectos {
    width: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
