@import "./base/variables.scss";
@import "./base/mixin";
@import "./base/extend.scss";
@import "./base/listas.scss";
@import "./base/maps.scss";
@import "./componentes/global.scss";


/* Menu de navegacion */
.nav__container {
    @extend %display-row-center;
    background:white;
    font-family: 'Orbitron', sans-serif;   
    font-weight: 800;

    .options {
        display: flex;
        justify-content: end;

        div a {
            text-decoration: none;
            padding: 20px;
            align-items: center;
            color: rgba(0, 0, 0, 0.723);
            transition: all 1s;

            &:hover {
                color: rgba(0, 0, 255, 0.586);
                transform: scale(1.1);
            }
        }
    }

    .name {
        padding: 20px;
        margin-left: 40px;

        .logo { 
            width: 120px;
            height: 80px;
        }
    }
}

/* Acerca de mi */
.first__section__container {
    padding-top: 70px;
    padding-bottom: 70px;

    .aboutMe {
        display: flex;
        padding: 20px;
        margin: 20px;
    
        img {
            display: flex;
            width: 50%;
        }
    
        .aboutMecontainer {
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            align-items: center;
    
            h1 {
                font-family: 'Orbitron', sans-serif;
                font-size: nth( $font-size, 1 );
                display: flex;
                width: 80%;
                color: $color-titulos;
            }
    
            button {
                width: 200px;
                padding: 10px;
                border: none;
                text-decoration: none;
                color: white;
                background-color: $color-botones;
                font-size: nth($font-size, 1);
                border-radius: 30px;
                box-shadow: 5px 5px 20px gray;
                transition: all 2s;
                font-family: 'Orbitron', sans-serif;
    
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }

    .animacion__bajar__one{
        @extend %display-row-center;
        animation: bounce 1s infinite;
    }

    @keyframes bounce {
        0%{
            transform: translateY(-40%);
        }
        100%{
            transform: translateX(0%);
        }
    }
}


/* Mis habilidades */
.skills__container {
    padding-top: 70px;
    padding-bottom: 70px;

    .skills {
        display: flex;
        justify-content: space-around;
        padding: 50px;
        margin: 20px;
    
    
        figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 30px;
    
            img {
                width: 100px;
                height: 100px;
            }
    
            figcaption {
                font-family: 'Orbitron', sans-serif;
                padding: 10px;
                margin: 10px;
            }
    
            img {
                padding: 10px;
                margin: 20px;
            }
        }
    
        .html, .css, .javascript, .json {
            transition: all 2s;
            box-shadow: 5px 5px 20px gray;
    
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .animacion__bajar__two{
        @extend %display-row-center;
        animation: bounce 1s infinite;
    }

    @keyframes bounce {
        0%{
            transform: translateY(-40%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    .skills__tittle{
        @include titulos(30px, 20px, 20px, rgba(0, 0, 0, 0.723));
        display: flex;
        justify-content: center; 
        font-family: 'Orbitron', sans-serif;
    } 
}


/* Informacion de contacto */
.contact__container {
    padding-top: 70px;
    padding-bottom: 70px;

    .contact {
        .networks {
            display: flex;
            justify-content: center;
            padding: 20px;
            margin: 20px;
    
            .instagram, .linkedin, .github {
                transition: all 2s;
                padding: 20px;
                margin: 20px;
    
                img {
                    filter: drop-shadow(6px 6px 6px grey);
                    width: 70px;
                    height: 70px;
                }
    
                &:hover {
                    transform: scale(1.2); 
                }
            }
        }
    
        .info {
            @extend %display-row-center;
    
            figure {
                display: flex;
                align-items: center;
                padding: 20px;
                margin: 20px;

                figcaption {
                    font-family: 'Orbitron', sans-serif;
                }
    
                img {
                    filter: drop-shadow(6px 6px 6px grey);
                    transition: all 2s;
                    margin: 20px;
                    width: 70px;
                    height: 70px;
                    padding-right: 10px;
                    

                    &:hover {
                        transform: scale(1.2);  
                    }
                }
            }
        }
    }

    .contact__tittle {
        color: $color-titulos;
        padding: 20px;
        margin: 20px;
        @extend %display-row-center;
        font-size: nth($font-size,2);
        font-family: 'Orbitron', sans-serif;
    } 
}

/*Mis proyectos*/
.projects__container {
    padding-top: 70px;
    padding-bottom: 70px;

    .projects__tittle {
        font-family: 'Orbitron', sans-serif;
        color: $color-titulos;
        @extend %display-row-center;
        font-size: nth($font-size,2);
        padding: 20px;
        margin: 20px;
    }
    
    .carrusel__container{
        display: flex;
        justify-content: center;
    
        .carrusel {
            justify-content: center;
            align-items: center; 

            h5 {
                color: black;
            }

            p {
                color: black;
            }
        }
    }

    .animacion__bajar__three {
        margin-top: 50px; 
        @extend %display-row-center;
        animation: bounce 1s infinite;
        }
    
        @keyframes bounce {
            0%{
                transform: translateY(-40%);
            }
            100%{
                transform: translateX(0%);
            }
        }
}

/* Certificaciones */
.certifications__container {
    padding-top: 70px;
    padding-bottom: 70px;

    .certifications__tittle {
        font-family: 'Orbitron', sans-serif;
        color: $color-titulos;
        @extend %display-row-center;
        font-size: nth($font-size,2);
        padding: 20px;
        margin: 20px;
    }
    
    .certifications {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        justify-items: center;
        align-items: center;
        padding: 20px;
    
        figure {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            img{
                border-radius: 50px;
                width: 500px;
                height: 300px;
            }
    
            figcaption {
                font-family: 'Orbitron', sans-serif;
                padding: 20px;
                @extend %display-row-center;
            }
    
            .certification__button {
                display: flex;
                justify-content: center;
                width: 150px;
                padding: 10px;
                border: none;
                text-decoration: none;
                background-color: $color-botones;
                font-size: nth($font-size,1);
                border-radius: 30px;
                box-shadow: 5px 5px 20px gray;
                transition: all 2s;
                font-family: 'Orbitron', sans-serif;
    
                a {
                    text-decoration: none;
                    color: white;
                }
    
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
    .animacion__bajar__four {
        @extend %display-row-center;
        animation: bounce 1s infinite;
        }
    
        @keyframes bounce {
            0%{
                transform: translateY(-40%);
            }
            100%{
                transform: translateX(0%);
            }
        }
    }


/* Footers */
footer {
    font-family: 'Orbitron', sans-serif;
    @extend %display-row-center;
    padding: map-get($map: $footer, $key:footer-padding);
    margin: map-get($map: $footer, $key:footer-margin);
    border-top: map-get($map: $footer, $key:footer-top-border);
}

/*----------------------------RESPONSIVE-------------------------------------------------*/
/* Tablet */
@media only screen and (max-width: 768px) {
    /* Menu de navegacion */
    .nav__container{
        .container-fluid {
            .name{
                margin-left: 0px;
            }
        }
    }
    /* Acerca de mi */
    .first__section__container {
        padding-top: 20px;
        padding-bottom: 20px;

        .aboutMe{
            .aboutMecontainer {
                button {
                    margin: 20px;
                }
            }
            img{
                width: 0; 
            }
        }
    }

    /* Mis habilidades */
    .skills__container {
        padding-top: 20px;
        padding-bottom: 20px;

        .skills {
            display: grid;
            grid-template-columns: repeat(2, 250px);
            grid-template-rows: repeat(2, 250px);
            gap: 20px;
        }
    }

    /* Informacion de contacto */
    .contact__container {
        padding-top: 20px;
        padding-bottom: 20px;

        .contact {
            .info {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    /* Certificaciones */
    .certifications__container {
        padding-top: 20px;
        padding-bottom: 20px;

        .certifications {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            justify-items: center;
            align-items: center;
            gap: 10px;
            padding: 20px;

            figure{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a{
                    img {
                        width: 500px;
                        height: 300px;
                    }
                }
            }
        } 
    }
      /* Proyectos */
    .carrusel__main {
        width: 650px;

        .proyectos {
            width: 650px;
        }
    }
}

footer {
    font-size: 14px;
}

/* Mobile grande*/
@media only screen and (max-width: 576px) {
    /* Menu de navegacion */
    .nav__container{
        .container-fluid {
            .name{
                margin-left: 0px;
            }
        }
    }
    /* Acerca de mi */
    .first__section__container {
        padding-top: 20px;
        padding-bottom: 20px;

        .aboutMe{
            .aboutMecontainer {
                button {
                    margin: 20px;
                }
            }
            img{
                width: 0; 
            }
        }
    }

    /* Mis habilidades */
    .skills__container {
        padding-top: 20px;
        padding-bottom: 20px;

        .skills {
            display: grid;
            grid-template-columns: repeat(2, 200px);
            grid-template-rows: repeat(2, 200px);
            gap: 20px;
        }
    }

    /* Informacion de contacto */
    .contact__container {
        padding-top: 20px;
        padding-bottom: 20px;

        .contact {
            .info {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    /* Certificaciones */
    .certifications__container {
        padding-top: 20px;
        padding-bottom: 20px;

        .certifications {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            justify-items: center;
            align-items: center;
            gap: 10px;
            padding: 20px;
    
            figure{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                a{
                    img {
                        width: 400px;
                        height: 250px;
                    }
                }
            }
        } 
    }

     /* Proyectos */
    .carrusel__main {
        width: 450px;

        .proyectos {
            width:450px;
        }
    }
}

/* Mobile pequeño*/
@media only screen and (max-width: 420px) {
     /* Menu de navegacion */
    .nav__container{
        .container-fluid {
            .name{
                margin-left: 0px;
            }
        }
    }
    /* Acerca de mi */
    .first__section__container {
        padding-top: 20px;
        padding-bottom: 20px;

        .aboutMe{
            .aboutMecontainer {
                button {
                    margin: 20px;
                }
            }
            img{
                width: 0; 
            }
        }
    }

    /* Mis habilidades */
    .skills__container {
        padding-top: 20px;
        padding-bottom: 20px;

        .skills {
            display: grid;
            grid-template-columns: repeat(2, 0.5fr);
            grid-template-rows: repeat(2, 0.5fr);
            gap: 20px;
        }
    }

    /* Informacion de contacto */
    .contact__container {
        padding-top:20px;
        padding-bottom: 20px;

        .contact {
            .info {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 12px;
            }
        }
    }

    /* Certificaciones */ 
    .certifications__container {
        padding-top: 20px;
        padding-bottom: 20px;

        .certifications {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            justify-items: center;
            align-items: center;
            gap: 10px;
            padding: 20px;
    
            figure{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                a{
                    img {
                        width: 300px;
                        height: 200px;
                    }
                }
            }
        }
    }

     /* Proyectos */
    .carrusel__main {
        width: 350px;

        .proyectos {
            width:350px;
        }
    }  
}

